<%= render "layouts/navbar", page: "" %>

  <main class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-1 col-md-push-8 mb-5">
        <section class="section site-section">
          <div class="row col hidden-xs hidden-sm">
            <h2>Purpose</h2>
            <p>She's Coding is a nonprofit organization with the main goal to help close the gender gap in tech via:</p>
            <ol class="green-links">
              <li>This open-source website that educates women, allies and companies about the gender gap, developed in mentorship-based
                volunteer groups.</li>
              <li>A mentorship program, as well as an offline and online safe community for women in tech.</li>
              <li>Supporting women in their tech industry job searches via events, collaborations, and a yearly
                <a href="http://techwomenrising.org" target="_blank">conference</a> with career fair and workshops.</li>
            </ol>
          </div>
          <div class="row col hidden-xs hidden-sm">
            <%= image_tag("static_pages/spacecat.png", alt: "Spacecat, the image of a cat in a rocket.") %>
          </div>
          <div class="row vertical-align mb-5">
              <div class="col col-xs-3 visible-xs visible-sm">
                  <%= image_tag("static_pages/spacecat.png", alt: "Spacecat, the image of a cat in a rocket.") %>
              </div>
              <div class="col col-xs-9 visible-xs visible-sm">
                  <h2 class="text-left">Purpose</h2>
                  <p>She's Coding is a nonprofit organization with the main goal to help close the gender gap in tech via:</p>
                  <ol class="green-links">
                    <li>This open-source website that educates women, allies and companies about the gender gap, developed in mentorship-based
                      volunteer groups.</li>
                    <li>A mentorship program, as well as an offline and online safe community for women in tech.</li>
                    <li>Supporting women in their tech industry job searches via events, collaborations, and a yearly
                      <a href="http://techwomenrising.org" target="_blank">conference</a> with career fair and workshops.</li>
                  </ol>
              </div>
            </div>
        </section>
        <section class="section site-section">
            <h2>What's New?</h2>
            <p>Fall 2018:</p>
            <ul class="green-links">
              <li>We're expanding to Europe - join our very first Meetup group in the Netherlands, in <a href="https://www.meetup.com/shescoding-amsterdam/" target="_blank">Amsterdam</a>!</li>
              <li>Launching a new
                <a href="https://www.meetup.com/shescoding-tacoma/" target="_blank">Meetup</a> in Tacoma, WA.</li>
              <li>Launching our
                Seattle Fall/Winter Code-a-thon</a>, which will run from November to January 2018.</li>
              <li>Developing new features for this website - keep a lookout for changes such as an events page, new resources,
                and others.</li>
            </ul>
        </section>
      </div>
      <div class="col-md-8 col-md-pull-4">
          <section class="mb-5 hidden-xs hidden-sm">
              <div class="row text-center">
                  <div class="col-sm-4 mb-3">
                    <%= link_to image_tag("static_pages/front_page_she.png"), "resources/tags/women" %>
                  </div>
                  <div class="col-sm-4 mb-3">
                    <%= link_to image_tag("static_pages/front_page_company.png"), "resources/tags/companies" %>
                  </div>
                  <div class="col-sm-4 mb-3">
                    <%= link_to image_tag("static_pages/front_page_supporter.png"), "resources/tags/supporters" %>
                  </div>
                </div>
          </section>
          <section class="mb-5 visible-xs visible-sm">
              <div class="row text-center">
                  <div class="col-xs-4 mb-3">
                    <%= link_to image_tag("static_pages/front_page_she.png"), "resources/tags/women" %>
                  </div>
                  <div class="col-xs-4 mb-3">
                    <%= link_to image_tag("static_pages/front_page_company.png"), "resources/tags/companies" %>
                  </div>
                  <div class="col-xs-4 mb-3">
                    <%= link_to image_tag("static_pages/front_page_supporter.png"), "resources/tags/supporters" %>
                  </div>
                </div>
          </section>
          <section class="section site-section">
            <h2>Community</h2>
            <p>She's Coding is a supportive, safe place for anyone identifying as a woman or non-binary person in tech. Our
              <a href="https://shescoding.typeform.com/to/fcSCQs" target="_blank">online community</a> consists of members from all over the world. We have in-person events in several cities -
              please
              <a href="connect" target="_blank">contact us</a> if you want to start a She's Coding group in your city.</p>
            <p>We currently run monthly meetups with networking and talks by our community members; quarterly, two-month long code-a-thons;
              weekly technical interview preparation meetups; as well as mock interview events with partnering companies.</p>
            <p>
              <a href="https://shescoding.typeform.com/to/fcSCQs" target="_blank">Join our Slack group</a> to keep in touch with the community and stay on top of events, announcements, and more!</p>
            <!-- Button to be added once we have a community page on the site.-->
            <!--<a class="cta" href="#">Community</a>-->

            <h3>Groups:</h3>
            <ul class="featured-list green-links">
              <li>
                <a href="https://www.meetup.com/shescoding-seattle/" target="_blank">Seattle Meetup</a>
              </li>
              <li>
                <a href="https://www.meetup.com/shescoding-dallas/" target="_blank">Dallas Meetup</a>
              </li>
              <li>
                <a href="https://www.meetup.com/shescoding-eastside/" target="_blank">Redmond/Bellevue Meetup</a>
              </li>
              <li>
                <a href="https://www.meetup.com/shescoding-tacoma/" target="_blank">Tacoma Meetup</a>
              </li>
              <li>
                <a href="https://www.meetup.com/shescoding-amsterdam/" target="_blank">Amsterdam Meetup</a>
              </li>
            </ul>
          </section>
          <section class="section site-section">
              <h2>Resources</h2>
              <p>Find educational and informational content aimed toward women in tech (or those interested in tech), our allies, and
                companies looking to learn more about diversity and inclusion.</p>
              <div class="text-center mt-5">
                <a class="cta" href="/resources">Resources</a>
              </div>

              <!-- We will add resources here later.-->
              <!--
              <h3>Latest in Resources:</h3>
              <ul class="featured-list">
                <li><a href="#">link to page</a> in <a href="#">category page</a></li>
                <li><a href="#">link to page</a> in <a href="#">category page</a></li>
                <li><a href="#">link to page</a> in <a href="#">category page</a></li>
                <li><a href="#">link to page</a> in <a href="#">category page</a></li>
                <li><a href="#">link to page</a> in <a href="#">category page</a></li>
              </ul>
              -->
            </section>
            <section class="section site-section">
                <h2>Mentorship</h2>
                <p>We are super thrilled about the launch of the She's Coding Mentorship Program. For a while now we thought about how
                  to best share this network of amazing technical women, minorities and allies that we are building. This mentorship
                  program is our first attempt into a direction of direct enablement and empowerment through matching based on their
                  career goals, their background, their interests and their expertise.</p>
                <div class="text-center mt-5">
                  <a class="cta" href="/mentorship">Join Us</a>
                </div>
            </section>
            <section class="section site-section testimonials">
              <h2>Testimonials</h2>
              <div id="carousel-testimonials" class="carousel slide" data-interval="false">
                <div class="carousel-inner">
                  <!-- Testimonial 1 -->
                  <div class="item active">
                    <div class="testimonial">
                      <%= image_tag("static_pages/testimonial_irina.png", alt: "Photo of Irina Macare", class: "img-circle") %>
                      <blockquote>
                        <p>"I joined She's Coding through their weekly Technical Interview Preparation meetups.
                          There I found a wonderful group of women, supporting each other, sharing their knowledge, solving problems together
                          and learning from each other. Without the help from She's Coding, I don't think I would have been able to achieve 
                          what I have achieved. It took a lot of hard work, but the guidance and the amazing people that I have met through
                          the group have helped me in ways that I couldn't even imagine. She's Coding has given me hope and support, taught
                          me not only the coding aspects but also how to behave during interviews and how to negotiate. I’m so happy that I
                          found the She's Coding community."</p>
                        <footer>
                          <cite><strong>Irina Macare</strong>, <em>Quality Assurance Engineer at Amazon</em></cite>
                        </footer>
                      </blockquote>
                    </div>
                  </div>
                  <!-- End Testimonial 1 -->
                  <!-- Testimonial 2 -->
                  <div class="item">
                    <div class="testimonial">
                      <%= image_tag("static_pages/testimonial_charissa.png", alt: "Photo of Charissa Johnson", class: "img-circle") %>
                      <blockquote>
                        <p>"She’s Coding is the absolute best group I have found that supports women in tech. 
                        Through She’s Coding I have met so many amazing women who will go to great lengths to support the women around them. 
                        They have been there for me every moment that I needed them, and have helped me to become not only a better software 
                        developer, but a better advocate and person as well. Ever since my first meeting I have truly believed in everything 
                        that She’s Coding stands for and look forward to bringing some of this organization with me everywhere that I go."</p>
                        <footer>
                          <cite><strong>Charissa Johnson</strong>, <em>Software Developer at Project Atlas</em></cite>
                        </footer>
                      </blockquote>
                    </div>
                  </div>
                  <!-- End Testimonial 2 -->
                </div>
                <a class="left carousel-control" href="#carousel-testimonials" role="button" data-slide="prev">
                  <i aria-hidden class="glyphicon glyphicon-chevron-left"></i>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-testimonials" role="button" data-slide="next">
                    <i aria-hidden class="glyphicon glyphicon-chevron-right"></i>
                    <span class="sr-only">Next</span>
                </a>
              </div>
            </section>
            
            <section class="section site-section as-seen-on green-links">
                <div class="description">
                <h2>As Seen On
                  <cite>"CODE: Debugging the Gender Gap"</cite>
                </h2>
                <p>CODE documentary exposes the dearth of American female and minority software engineers and explores the reasons for
                  this gender gap. CODE raises the question: what would society gain from having more women and minorities code?</p>
                <p><a href="https://www.codedoc.co/" target="_blank">View the documentary</a></p>
              </div>
              <div class="iframe-container">
                <iframe src="https://player.vimeo.com/video/136884902" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
            </section>
        </div>
    </div>
  </main>

  <%= render :partial => "layouts/footer" %>