<%= render "layouts/navbar", page: "Team" %>

<div class="page">
    <%= image_tag("static_pages/team.png") %>
</div>

<div class="text-center team-page">
   <!-- Active members of the team section begins-->
    <div class="team-page-section">
        <div class="row col mb-3">
            <div class="title">Meet the Team</div>
        </div>
        <div class="row mt-5">
            <% @teamMembers.each do |member| -%>
                <div class="col pt-3 col-sm-6 col-xs-12 col-md-3">
                    <div class="member-container tooltips">
                        <%= link_to image_tag(member[:imageUrl], class: "circle"), member[:linkedInUrl], target: "_blank" %>
                        <div class="name pt-2"><%= member[:name] %></div>
                        <div class="member-title pb-2"><%= member[:title] %></div>
                        <% if member[:description] != nil %>
                            <div class="the-tooltip">
                                <div class="name pt-2"><%= member[:name] %></div>
                                <div class="member-title"><%= member[:title] %></div>
                                <div class="tooltip-description">
                                    <%= member[:description] %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            <% end -%>
            <div class="col pt-3 col-sm-6 col-xs-12 col-md-3 end">
                <div class="member-container tooltips">
                    <%= image_tag("team/kitten.png", class: "circle") %>
                    <div class="name pt-2">YOU?</div>
                    <div class="member-title">Awesomeness Provider</div>
                    <div class="the-tooltip">
                        <div class="name pt-2">The Placeholder Kitten</div>
                        <div class="member-title">Awesomeness Provider</div>
                        <div class="tooltip-description">
                            Do you want to become part of the She's Coding team? We would love to have you on board - go ahead <%= link_to "connect with us", "/connect" %> or check out our <%= link_to "volunteer page", "/volunteer" %> for more information!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--- End of: Active members of the team section -->

<!-- Advisors section begins-->
    <div class="team-page-section green-background-section">
        <div class="row col mb-3">
            <div class="title white-color">Advisors</div>
        </div>
        <div class="row mt-5">
            <div class="col pt-3 col-sm-6 col-xs-12 col-md-3 end">
                <div class="member-container tooltips">
                    <%= link_to image_tag("team/robin.png", class: "circle"), "https://www.linkedin.com/in/robinhauser/", target: "_blank" %>
                    <div class="name pt-2">Robin Hauser Reynolds</div>
                    <div class="member-title">Director/Producer, CODE: Debugging the Gender Gap</div>
                    <div class="the-tooltip">
                        <div class="name pt-2">Robin Hauser Reynolds</div>
                        <div class="member-title">Director/Producer, CODE: Debugging the Gender Gap</div>
                        <div class="tooltip-description">
                            As both a business woman and a longtime professional photographer, Robin brings her creative eye and leadership skills to the CODE documentary project. Her years in fine art photography give her a keen vision for the artistic design of CODE; her experience in the business world affords her a unique perspective on what it takes to change an industry. Previously, Robin co-directed and produced the documentary feature, Running for Jim, which won 14 awards at 16 film festivals in the U.S. and abroad.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--- End of: Advisors section -->

<!--- Partners section begins-->
    <div class="team-page-section">
        <div class="row col mb-3">
            <div class="title">Partners &amp; Sponsors</div>
        </div>
        <div class="row mt-5">
            <div class="partner col-sm-4">
                <%= link_to image_tag("partners/galvanize.png", class: "logo"),
                "https://www.galvanize.com/", target: "_blank" %>
            </div>
            <div class="partner col-sm-4">
                <%= link_to image_tag("partners/flatiron-school.png", class: "logo"),
                "https://flatironschool.com/", target: "_blank" %>
            </div>
            <div class="partner col-sm-4">
                <%= link_to image_tag("partners/code-fellows.jpg", class: "logo"),
                "https://www.codefellows.org/", target: "_blank" %>
            </div>
        </div>
        <div class="row">
            <div class="partner col-sm-4">
                <%= link_to image_tag("partners/code-documentary.png", class: "logo"),
                "http://codedocumentary.com/", target: "_blank" %>
            </div>
            <div class="partner col-sm-4 end">
                <%= link_to image_tag("partners/jolt-labs.png", class: "logo"),
                "http://joltlabs.com/", target: "_blank" %>
            </div>
        </div>
    </div>
<!--- End of: Partners section -->

<!-- Past Contributors section begins-->
    <div class="team-page-section grey-background-section">
        <div class="row col mb-3">
            <div class="title white-color">Past Advisors & Contributors</div>
        </div>
        <div class="row mt-5">
            <% @pastContributors.each do |contributor| -%>
                <div class="col pt-3 col-sm-6 col-xs-12 col-md-3">
                    <%= link_to image_tag(contributor[:imageUrl], class: "circle"), contributor[:linkedInUrl], target: "_blank" %>
                    <div class="name pt-2"><%= contributor[:name] %></div>
                    <div class="member-title pb-2"><%= contributor[:title] %></div>
                </div>
            <% end -%>
        </div>
    </div>
<!-- End of: Past Contributors section -->
</div>

<%= render :partial => "layouts/footer", :locals => {:class_Name => 'no-margin-top' }  %>
