<%= render "layouts/navbar", page: "Team" %>

<div class="page">
    <%= image_tag("static_pages/team.png", class: "team-page-image") %>
</div>

<div class="team-section">
    <div class="container">
        <div class="team-section-title">Team</div>
            <div class="row">
            <div class="team-list">

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/nathalie.png", class: "circle"), "https://www.linkedin.com/in/nathaliesteinmetz", target: "_blank" %>
                        <div class="team-member-name">Nathalie Steinmetz</div>
                        <div class="team-member-title">Project &amp; Technical Lead, Co-founder</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Nathalie Steinmetz</div>
                            <div class="team-member-title">Project &amp; Technical Lead, Co-founder</div>
                            <div class="tooltip-description">
                                Nathalie is a Senior Software Engineer and Backend Lead at the Seattle startup studio JOLT Labs. She is a European transplant in Seattle, and has earned her Bachelors and Masters degrees in Computer Science at the University of Innsbruck, Austria. Nathalie is actively engaged in the Seattle tech community through a number of women in tech related groups – from Seattle Girl Geek Dinners, an informal networking platform for technical girls and women, over Hack The People, a mentorship organization, to She’s Coding, a project that promotes actionable guidelines and resources to combat the gender gap in tech.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/britt.png", class: "circle"), "https://www.linkedin.com/in/brittrgriffith", target: "_blank" %>
                        <div class="team-member-name">Britt Griffith</div>
                        <div class="team-member-title">Marketing &amp; Outreach Lead, Co-founder</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Britt Griffith</div>
                            <div class="team-member-title">Marketing &amp; Outreach Lead, Co-founder</div>
                            <div class="tooltip-description">
                                Britt is Director of Marketing at the Seattle startup studio JOLT Labs. She graduated from Stanford University with her Bachelors and Masters degrees in Digital Media. She is a two-time Academic All-American and was voted the "Most Inspirational Athlete" on the 3rd-ranked nationally Stanford Women's Gymnastics team. As a result of her passion for cooking (and eating!), Britt continued her studies, and graduated from Le Cordon Bleu's California Culinary Academy in San Francisco, and was a contributing writer to the Pulitzer Prize and James Beard Award winning team at the San Francisco Chronicle's Food &amp; Wine Section. As a part of her professional marketing experience, Britt helped create, starred in, and promoted multiple #1 ranked YouTube videos. She is the inventor of two patents, and was previously a UX/UI Designer at Razorfish and GoLive.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/anna.png", class: "circle"), "http://www.annabillmaier.com/about/", target: "_blank" %>
                        <div class="team-member-name">Anna Billmaier</div>
                        <div class="team-member-title">Design Lead</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Anna Billmaier</div>
                            <div class="team-member-title">Design Lead</div>
                            <div class="tooltip-description">
                                Anna Billmaier is a recent University of Washington graduate. She received her Bachelor of Design degree in Visual Communication Design. She is currently working as Designer at the startup studio JOLT Labs. Prior to this, Anna was the sole graphic designer for the Environmental Stewardship and Sustainability Office at the University of Washington. There, she handled all of the print design for social media campaigns as well as university-wide events. Anna also worked for Brooks Running Company as a creative services intern, contributing to several internal design efforts. Anna’s interests lie in expanding her knowledge of UX/UI design as well as integrating more video and photography into her work.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/steph.png", class: "circle"), "https://www.linkedin.com/in/sgent487", target: "_blank" %>
                        <div class="team-member-name">Steph Gentry</div>
                        <div class="team-member-title">Operations</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Steph Gentry</div>
                            <div class="team-member-title">Operations</div>
                            <div class="tooltip-description">
                                Steph is taking care of operations at the startup studio JOLT Labs. After studying abroad in Moscow in the fall of 2008, she graduated from Stanford University with her BA in International Relations. She was a four-year athletic scholarship recipient in gymnastics and received All-Pac-10 academic honors in 2006 and 2007. After graduating, Steph served in operations/customer relations roles at Doostang, The Asia Foundation, and Stanford Law School. A 2013-2014 FLAS Fellowship recipient, Steph is currently pursuing her MA in International Studies at the University of Washington.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/ben.png", class: "circle"), "http://www.linkedin.com/in/bendemboski", target: "_blank" %>
                        <div class="team-member-name">Ben Demboski</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Ben Demboski</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                Ben Demboski is a founding partner and VP of Engineering at JOLT Labs. He is a 10+ year veteran of mobile and web. He began his career at Wildseed Ltd, working on the team that built and shipped the first Linux-based smart phone in the United States, and subsequently applied the technology to building a connected media player in the early days of mobile streaming media. Since then, he has done extensive mobile applications development, managed the development team at RealNetworks that built the Unifi multi-platform media cloud service and acted as full-stack developer for several consumer web applications, including the travel planning site Gatherball. Ben earned his BA in Math at Reed College.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/bri.png", class: "circle"), "https://www.linkedin.com/pub/bri-dotson/74/137/9b6", target: "_blank" %>
                        <div class="team-member-name">Bri Dotson</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Bri Dotson</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                Bri is a feminist, homebrewer, tinkerer, musician, and software developer.  She's trying to change the world one webapp and robot at a time. She is currently working as Software Engineer Intern Extraordinaire at EnergySavvy.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/calla.png", class: "circle"), "https://www.linkedin.com/in/callapatel", target: "_blank" %>
                        <div class="team-member-name">Calla Patel</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Calla Patel</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                I joined this field for the creativity and stayed for the complexity. If I’m not coding, I’m drinking coffee, scanning instagram, or running outside.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/deirdre.png", class: "circle"), "https://www.linkedin.com/in/deirdreallison", target: "_blank" %>
                        <div class="team-member-name">Deirdre Allison</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Deirdre Allison</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                Deirdre is a full stack web developer in Seattle who enjoys trail running and supporting women in tech initiatives.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/kavita.png", class: "circle"), "https://www.linkedin.com/in/kavitasa", target: "_blank" %>
                        <div class="team-member-name">Kavita Sachdeva</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Kavita Sachdeva</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                Kavita has great interest in solving technical challenges, writing elegant code with TDD, and team collaboration. She brings value with her hard work, continuous learning, and growth mindset. Her background in tech support and user training provides her with good perspective around prioritizing the user. She is looking for a company that encourages agile practices, good communication, employee development, and mentorship for junior developers.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/kristina.png", class: "circle"), "https://www.linkedin.com/in/khjrtbrg", target: "_blank" %>
                        <div class="team-member-name">Kristina Hjertberg</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Kristina Hjertberg</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                Kristina likes creating and learning. When not coding, you can find her at movies, going on bike adventures, being passionate about education, and/or dreaming about traveling.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/marge.png", class: "circle"), "https://www.linkedin.com/in/margerosen", target: "_blank" %>
                        <div class="team-member-name">Marge Rosen</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Marge Rosen</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                Marge is a Web Developer and Ruby enthusiast.  She's also a professional musician, music educator and  band leader active in the Seattle jazz community.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/rachel.png", class: "circle"), "https://www.linkedin.com/in/rmoshier", target: "_blank" %>
                        <div class="team-member-name">Rachel Adler</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Rachel Adler</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                Rachel is a student at the Ada Developers Academy currently interning at Chef. When she is not coding you can usually find her doing yoga or hanging out with her cats.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/tina.png", class: "circle"), "https://www.linkedin.com/in/tinakumar", target: "_blank" %>
                        <div class="team-member-name">Tina Kumar</div>
                        <div class="team-member-title">Contributor</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">Tina Kumar</div>
                            <div class="team-member-title">Contributor</div>
                            <div class="tooltip-description">
                                Tina is a Software Engineer at the Seattle startup studio JOLT Labs. With a background in supply chain management, Tina took a different path to engineering. She began programming a year ago, being accepted into Starter League, a coding bootcamp for beginners in Chicago. This culminated with a demo day in front of a few hundred people. She continued her programming education by attending the Code Fellows Ruby on Rails bootcamp, and upon graduation had an internship at a local startup Pawzii, involved in promoting animal welfare. She is an active member of Hack the People, an initiative that aims to bring mentorship to people new in tech.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="team-member col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= image_tag("team/kitten.png", class: "circle") %>
                        <div class="team-member-name">YOU?</div>
                        <div class="team-member-title">Awesomeness Provider</div>
                        <div class="the-tooltip">
                            <div class="team-member-name">The Placeholder Kitten</div>
                            <div class="team-member-title">Awesomeness Provider</div>
                            <div class="tooltip-description">
                                Do you want to become part of the She's Coding team? We would love to have you on board - go ahead and <%= link_to "connect with us", "/connect" %>!
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /team-list -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /team-section -->

<div class="advisor-section">
    <div class="advisor-section-title">Advisors</div>
    <div class="container">
        <div class="row">
            <div class="advisor-list">

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/kamila.png", class: "circle"), "https://www.linkedin.com/in/kamilastepniowska", target: "_blank" %>
                        <div class="advisor-name">Kamila Stępniowska</div>
                        <div class="advisor-title">COO &amp; Partner, Linque Solutions</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Kamila Stępniowska</div>
                            <div class="advisor-title">COO &amp; Partner, Linque Solutions</div>
                            <div class="tooltip-description">
                                As COO at Geek Girls Carrots (2012 - 2015) Kamila had a huge influence on the organization’s mission, vision and structure. Her contribution is especially related with educational programs &amp; global grow. Kamila is an inventor, creator &amp; coordinator of <a href="http://django.carrots.pl/en/">Django Carrots</a> and <a href="http://geekgirlscarrots.org/c/code-carrots">Code Carrots</a> programming workshops (US, Canada, Europe). Sole responsible for GGC success in the US. ACT-W conference co-organizer <a href="http://act-wsea.splashthat.com/">ACT-W Seattle</a>. As PhD student she research open source programming project at Chair of Sociology of Culture, Institute of  Sociology (University of Warsaw). Photographer amateur, Japanese Culture fan, runner. Currently based in New York.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/mark.png", class: "circle"), "https://www.linkedin.com/profile/view?id=6904806", target: "_blank" %>
                        <div class="advisor-name">Mark S. Lee</div>
                        <div class="advisor-title">Creative Lead, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Mark S. Lee</div>
                            <div class="advisor-title">Creative Lead, JOLT Labs</div>
                            <div class="tooltip-description">
                                Mark connects the user to the experience. His background is in executing full-scale brand design projects from concept through production across various mediums. He combines an expertise in design with a vision for strategic breadth. He has headed up a wide-range of design projects for Fortune 500 companies, startups and non-profit organizations. Mark is a graduate of the University of Washington holding degrees in Visual Communication Design (BFA) and Interdisciplinary Arts (BA). In his spare time, Mark enjoys cooking, exploring and playing Sudoku.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/paul.png", class: "circle"),
                        "https://www.linkedin.com/in/paulcwatts", target: "_blank" %>
                        <div class="advisor-name">Paul Watts</div>
                        <div class="advisor-title">Founding Partner, JOLT Labs</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Paul Watts</div>
                            <div class="advisor-title">Founding Partner, JOLT Labs</div>
                            <div class="tooltip-description">
                                Paul’s expertise is software team leadership, web and mobile development. In his 15+ year career, he has lead development teams that built the first Linux-based cell phone in the US, as well as other award-winning mobile devices. His previous startup, Gatherball, was listed in Business Insider as one of "The Coolest Small Businesses in America". Paul is helping to promote diversity in tech while on the Board of the Women in Tech Meetup in Seattle and with the national mentoring organization Hack the People.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/robin.png", class: "circle"),
                        "https://www.linkedin.com/pub/robin-hauser-reynolds/18/742/b30", target: "_blank" %>
                        <div class="advisor-name">Robin Hauser Reynolds</div>
                        <div class="advisor-title">Director/Producer, CODE: Debugging the Gender Gap</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Robin Hauser Reynolds</div>
                            <div class="advisor-title">Director/Producer, CODE: Debugging the Gender Gap</div>
                            <div class="tooltip-description">
                                As both a business woman and a longtime professional photographer, Robin brings her creative eye and leadership skills to the CODE documentary project. Her years in fine art photography give her a keen vision for the artistic design of CODE; her experience in the business world affords her a unique perspective on what it takes to change an industry. Previously, Robin co-directed and produced the documentary feature, Running for Jim, which won 14 awards at 16 film festivals in the U.S. and abroad.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="advisor col-sm-6 col-xs-12">
                    <div class="member-container tooltips">
                        <%= link_to image_tag("team/staci.png", class: "circle"),
                        "https://www.linkedin.com/pub/staci-hartman/12/147/6a4", target: "_blank" %>
                        <div class="advisor-name">Staci Hartman</div>
                        <div class="advisor-title">Producer, CODE: Debugging the Gender Gap</div>
                        <div class="the-tooltip">
                            <div class="advisor-name">Staci Hartman</div>
                            <div class="advisor-title">Producer, CODE: Debugging the Gender Gap</div>
                            <div class="tooltip-description">
                                Tapping on a rich background of over 15 years in various marketing roles for high-technology companies including Apple, HP and Tektronix, Staci brings a wealth of innovative thinking and resourcefulness to the development, production and distribution of CODE documentary. In keeping with her interest in social entrepreneurship, Staci continues to focus on building partnerships to serve the greater good. A graduate of UC Berkeley, Staci was Producer and Outreach Coordinator on the Running for Jim documentary.
                            </div>
                        </div>
                    </div>
                </div>

            </div><!-- /advisor-list -->
        </div><!-- /row -->
    </div><!-- /container -->
</div><!-- /advisor-section -->

<div class="partner-section">
    <div class="partner-section-title">Partners &amp; Sponsors</div>
    <div class="container">
        <div class="row">
            <div class="partner col-sm-4">
                <%= link_to image_tag("partners/JOLT.png", class: "logo"),
                "http://joltlabs.com/", target: "_blank" %>
            </div>
            <div class="partner col-sm-4">
                <%= link_to image_tag("partners/CODE.png", class: "logo"),
                "http://codedocumentary.com/", target: "_blank" %>
            </div>
            <div class="partner col-sm-4">
                <%= link_to image_tag("partners/JETBRAINS.png", class: "logo"),
                "https://www.jetbrains.com/", target: "_blank" %>
            </div>
        </div><!-- /row -->
        <div class="row">
            <div class="partner col-sm-12">
                <%= link_to image_tag("partners/devbootcamp.png", class: "logo"),
                "https://devbootcamp.com/", target: "_blank" %>
            </div>
        </div><!-- /row -->
    </div><!-- /container -->
</div>

<%= render :partial => "layouts/footer" %>
