<%= render "layouts/navbar", page: "Volunteer" %>

<div class="page header-img">
    <%= image_tag("static_pages/volunteer.jpg") %>
</div>

<div class='container'>
  <div class='volunteer-body page'>
    <p>
      She's Coding is a nonprofit organization with the main goal to help close the gender gap in tech. We are a supportive, safe place for anyone identifying as woman or non-binary person in tech, and run a lot of events that are open to women and non-binary folk:
    </p>
    <ul class="green-links">
      <li>Technical interview preparation sessions.</li>
      <li>Two month-long Code-a-thons.</li>
      <li>Mock interview events with companies. (Let us know if you want to bring it to your company!).</li>
      <li>Fun, talk & networking based meetups - yay!</li>
      <li><%= link_to "Tech Women Rising", "http://techwomenrising.org", target: "_blank"%> conference.</li>
    </ul>
    <p>
      Additionally we are working on providing more and better services to the women in tech community via new features on our open-source website, new projects, a more formalized mentorship program, and more.
    </p>
    <div class="text-center mt-5 mb-5 title">
      It's all about YOU!
    </div>
    <p>
      Volunteers are at the very core of She's Coding. We could not do what we do, build what we build, and support our community, without volunteers. Are you interested in helping out? Join our team - She’s Coding is built by the community, for the community!
    </p>
    <div class="text-center mt-5 mb-5 title">
      Volunteering with She's Coding
    </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEvents">
              Events
            </a>
          </h3>
        </div>

        <div id="collapseEvents" class="panel-collapse collapse">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-events1">City Chapter Lead</a>
            </h4>
          </div>
          <div id="collapse-events1" class="panel-collapse collapse">
            <ul>
              <li>Manage event schedule, venues & hosts</li>
              <li>Find & work with sponsors</li>
              <li>Assist event hosts</li>
              <li>Manage Meetup.com group</li>
              <li>Contribute to social media efforts</li>
              <li>Time: ca. 3 hrs/week, 1 year commitment</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-events2">Tech Interview Prep - Event Host</a>
            </h4>
          </div>
          <div id="collapse-events2" class="panel-collapse collapse">
            <ul>
              <li>Arrive early & bring materials (provided by SC)</li>
              <li>Take attendance</li>
              <li>Encourage group building</li>
              <li>Help keep discussions relevant</li>
              <li>Explain event concept & flow to first-time attendees</li>
              <li>Time: 1 event/month, 6-12 months commitment</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-events3">Tech Interview Prep - Coach</a>
            </h4>
          </div>
          <div id="collapse-events3" class="panel-collapse collapse">
            <ul>
              <li>Support people in solving problems</li>
              <li>Do mock interviews (optional)</li>
              <li>Explain data structures & algorithms (optional)</li>
              <li>Prepare/give mini-lectures (optional)</li>
              <li>Time: 1 event/month, 6-12 months commitment</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-events4">Mock Interview Organizer</a>
            </h4>
          </div>
          <div id="collapse-events4" class="panel-collapse collapse">
            <ul>
              <li>Work with companies</li>
              <li>Devise attendance, interviewer-attendee match ups & agenda based on number of volunteering engineers & recruiters</li>
              <li>Set up and manage event on Meetup.com</li>
              <li>Co-host event & give a short She's Coding intro</li>
              <li>Time: 1 event/month, 6-12 months commitment</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-events5">Code-a-thon Organizer</a>
            </h4>
          </div>
          <div id="collapse-events5" class="panel-collapse collapse">
            <ul>
              <li>Set up 2-month schedule (kick-off, wid-way, demo day)</li>
              <li>Host 3 events over 2 months</li>
              <li>Support team formation</li>
              <li>Check in with teams, find mentors & prizes</li>
              <li>Set up and manage event on Eventbrite & Meetup.com</li>
              <li>Time: 1 code-a-thon/quarter, 6-12 months commitment</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-events6">Talk/Workshop Night Organizer</a>
            </h4>
          </div>
          <div id="collapse-events6" class="panel-collapse collapse">
            <ul>
              <li>Find people to give talks/workshops</li>
              <li>Encourage Lightning Talks by the community</li>
              <li>Set up and manage event on Meetup.com</li>
              <li>Host events & give short She's Coding intros</li>
              <li>Organize food & drinks (within an SC budget)</li>
              <li>Time: 1 event/month, 6-12 months commitment</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-events7">Discussion Rounds Organizer (optional)</a>
            </h4>
          </div>
          <div id="collapse-events7" class="panel-collapse collapse">
            <ul>
              <li>Small groups, 6-12 people</li>
              <li>More intimate, mentorship-style discussions</li>
              <li>Set up and manage event on Meetup.com</li>
              <li>Host event & guide discussions</li>
              <li>Time: 1 event/month, 6-12 months commitment</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseConference">
              Tech Women Rising Conference
            </a>
          </h3>
        </div>

        <div id="collapseConference" class="panel-collapse collapse">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-conference1">Conference Director</a>
            </h4>
          </div>
          <div id="collapse-conference1" class="panel-collapse collapse">
            <ul>
              <li>Coordinate conference team</li>
              <li>Approach and secure sponsors</li>
              <li>Manage sponsorships & budget</li>
              <li>Manage overall conference logistics</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-conference2">Talks/Workshop Coordinator</a>
            </h4>
          </div>
          <div id="collapse-conference2" class="panel-collapse collapse">
            <ul>
              <li>Two main topics:</li>
                <ul>
                  <li>Job Search</li>
                  <li>Career Development</li>
                </ul>
              <li>Build talk/workshop day agenda</li>
              <li>Coordinate with speakers</li>
              <li>Coordinate with conference director & team</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-conference3">Career Fair Coordinator</a>
            </h4>
          </div>
          <div id="collapse-conference3" class="panel-collapse collapse">
            <ul>
              <li>Help find Career Fair companies/sponsors</li>
              <li>Coordinate with participating companies</li>
              <li>Coordinate logistics for career fair tables</li>
              <li>Coordinate with conference director & team</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-conference4">Resume Clinic Coordinator</a>
            </h4>
          </div>
          <div id="collapse-conference4" class="panel-collapse collapse">
            <ul>
              <li>Find volunteering recruiters/recruiting companies</li>
              <li>Build resume clinic schedule</li>
              <li>Coordinate sign-ups/day off lists or lines</li>
              <li>Coordinate with conference director & team</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-conference5">Volunteer Coordinator</a>
            </h4>
          </div>
          <div id="collapse-conference5" class="panel-collapse collapse">
            <ul>
              <li>Find and manage event volunteers</li>
              <li>Build volunteering schedule</li>
              <li>Train volunteers (Code of Conduct)</li>
              <li>Coordinate with conference director & team</li>
            </ul>
          </div> 
          
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-conference6">Logistics/Merch Coordinator</a>
            </h4>
          </div>
          <div id="collapse-conference6" class="panel-collapse collapse">
            <ul>
              <li>Coordinate food and drinks</li>
              <li>Coordinate printed materials</li>
              <li>Coordinate merchandise</li>
              <li>Coordinate raffles</li>
              <li>Coordinate with conference director & team</li>
            </ul>
          </div>  

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-conference7">Unconference Coordinator</a>
            </h4>
          </div>
          <div id="collapse-conference7" class="panel-collapse collapse">
            <ul>
              <li>Lead Unconference intro</li>
              <li>Help build Unconference agenda</li>
              <li>Guide through the Unconference day</li>
              <li>Coordinate with conference director & team</li>
            </ul>
          </div>  
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseDevelopment">
              Open-Source Development
            </a>
          </h3>
        </div>

        <div id="collapseDevelopment" class="panel-collapse collapse">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-development1">Open-Source Lead</a>
            </h4>
          </div>
          <div id="collapse-development1" class="panel-collapse collapse">
            <ul>
              <li>Make sure projects are ready for contributors</li>
              <li>Manage Github & Trello of our different projects</li>
              <li>Engage with open-source community</li>
              <li>Work with Technical Program & Engineering Managers</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-development2">Technical Program Manager</a>
            </h4>
          </div>
          <div id="collapse-development2" class="panel-collapse collapse">
            <ul>
              <li>Manage one technical project (e.g. website)</li>
              <li>Write requirements for new features</li>
              <li>Work with Engineering Manager to create Trello stories for those features</li>
              <li>Manage project documentation</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-development3">Engineering Manager</a>
            </h4>
          </div>
          <div id="collapse-development3" class="panel-collapse collapse">
            <ul>
              <li>Be lead engineer of one technical project/feature</li>
              <li>Coordinate and support volunteer contributions</li>
              <li>Coordinate code reviews</li>
              <li>Make sure project master is in a healthy state</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-development4">Dev Ops Manager</a>
            </h4>
          </div>
          <div id="collapse-development4" class="panel-collapse collapse">
            <ul>
              <li>Manage AWS/Azure accounts</li>
              <li>Be responsible for project deployments</li>
              <li>Work with Engineering Managers</li>
              <li>Help improve our set up and practices</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOrganization">
              Organization
            </a>
          </h3>
        </div>

        <div id="collapseOrganization" class="panel-collapse collapse">

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-organization1">Volunteer Coordinator</a>
            </h4>
          </div>
          <div id="collapse-organization1" class="panel-collapse collapse">
            <ul>
              <li>Do reach out to find volunteers</li>
              <li>Write volunteer job descriptions</li>
              <li>Check in with volunteers, get feedback, etc.</li>
              <li>Coordinate volunteers</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-organization2">Fundraising Coordinator</a>
            </h4>
          </div>
          <div id="collapse-organization2" class="panel-collapse collapse">
            <ul>
              <li>Find/manage sponsorships with companies</li>
              <li>Reach out to potential enterprise/private donors</li>
              <li>Create fundraising strategies</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-organization3">Finance Director</a>
            </h4>
          </div>
          <div id="collapse-organization3" class="panel-collapse collapse">
            <ul>
              <li>Manage chapters' budgets & expenses</li>
              <li>Do accounting</li>
              <li>Do budgeting with leadership team</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-organization4">Marketing Director</a>
            </h4>
          </div>
          <div id="collapse-organization4" class="panel-collapse collapse">
            <ul>
              <li>Write copy-text for website & marketing materials</li>
              <li>Coordinate marketing materials</li>
              <li>Build blog & newsletter strategies</li>
              <li>Manage blog & newsletter, review/edit posts</li>
              <li>Work with graphic designer(s)</li>
              <li>Work with social media folk</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-organization5">Graphic Designer</a>
            </h4>
          </div>
          <div id="collapse-organization5" class="panel-collapse collapse">
            <ul>
              <li>Develop logos and branding</li>
              <li>Develop print marketing materials</li>
              <li>Work with Marketing Director</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-organization6">Social Media Coordinator</a>
            </h4>
          </div>
          <div id="collapse-organization6" class="panel-collapse collapse">
            <ul>
              <li>Build social media strategies</li>
              <li>Manage social media accounts</li>
              <li>Plan and schedule posts</li>
              <li>Work with Marketing Director</li>
            </ul>
          </div>

          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" href="#collapse-organization7">Blogger</a>
            </h4>
          </div>
          <div id="collapse-organization7" class="panel-collapse collapse">
            <ul>
              <li>Contribute blog posts</li>
              <li>Do interviews with women in tech</li>
              <li>Work with Marketing Director</li>
            </ul>
          </div> 
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseBoard">
              Board
            </a>
          </h3>
        </div>
  
        <div id="collapseBoard" class="panel-collapse collapse">

          <div class="panel-heading">
            <ul>
              <li>Be part of a newly created board</li>
              <li>Work with current leadership team</li>
              <li>Help set up board structure</li>
              <li>Ideally:</li>
                <ul>
                  <li>Treasurer</li>
                  <li>Secretary</li>
                </ul>
            </ul>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOther">
              Other
            </a>
          </h3>
        </div>

        <div id="collapseOther" class="panel-collapse collapse">

          <div class="panel-heading">
            <ul>
              <li>Mentorship Program Coordinator</li>
              <li>IRC Collaboration Coordinator</li>
              <li>Slack Moderators/Guides</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    </p>
    <p> 
      We would love to hear from you: <%= link_to "Connect with us", "/connect" %> and check us out via:
    </p>
    <div class="connect">
      <ul class="connect_icons">
        <li><%= link_to image_tag("static_pages/github_logo.png"), "https://github.com/shescoding",  title: 'Github', rel: 'tooltip', class: 'tooltips', target: "_blank" %><!-- <span>She's Coding on Github</span> --></li>
        <li><%= link_to image_tag("static_pages/trello_logo.png"), "https://trello.com/shescoding", title: 'Trello', rel: 'tooltip', target: "_blank" %></li>
        <li><%= link_to image_tag("static_pages/slack_logo.png"), "https://shescoding.typeform.com/to/fcSCQs", title: 'Slack', rel: 'tooltip', target: "_blank" %></li>
      </ul>
    </div>
    <div class="text-center mt-5 mb-5 title">
      Convert understanding into action - join the She's Coding team!
    </div>
  </div>
</div>

<%= render :partial => "layouts/footer" %>
