<%= render "layouts/navbar", page: "Contact" %>

<div class="page">
    <%= image_tag("contact.png") %>
</div>

<div class="contact-section page">
    <div class="container">
        <div class="contact-section-title">
          <h2>We would love to hear from you</h2>
          <br>
          <div class="contact-section-body">
            <p>
            	Whether you would like to contribute your skills and time to the development of She’s Coding, give us your feedback on the project, or tell us about an amazing resource we should include on the site, don’t hesitate to get in touch!			
            </p>
            <br>
            <p>Contact us via email: <%= mail_to 'nathalie@shescoding.org', " She's Coding" %></p>
          </div>
        </div>
    </div>
</div>

<% render :partial => "layouts/footer" %>
<!-- remove when we have contact form; set above footer to render instead -->
<div id="footer" class="navbar-fixed-bottom">
  <div class="container-fluid">
    <div class="clearfix">
      <ul class="ui-ul list-inline pull-left">
        <li>&copy; 2015 JOLT Labs LLC and individual contributors
        <li> &nbsp;&nbsp;&nbsp; | &nbsp;&nbsp;&nbsp;</li>
        <li class="green-link"><%= mail_to 'info@shescoding.org','info@shescoding.org' %></li>
      </ul>

      <ul class="ui-ul list-inline pull-right">
        <li class="code-logo"><%= link_to image_tag("Code_Logo_white.png", size: "60x25"), "http://codedocumentary.com"%></li>
        <!-- Add some space -->
        <li><%= link_to image_tag("github-16.png"), "https://github.com/shescoding"%></li>
        <li><%= link_to image_tag("assests-11.png"), "https://www.facebook.com/shescoding"%></li>
        <li><%= link_to image_tag("assests-12.png"), "https://twitter.com/shescoding" %></li>
      </ul>
    </div>
  </div>
</div>
