<%= render "layouts/navbar", page: "About" %>

<div class='container'>
  <div class= 'about-nav'>
    <div class='about-header-image'>
      <!-- to be given an image later  -->
    </div>
    <%= link_to "About", "/about" %>
    <%= link_to "How", "/how", class: "active" %>
  </div>

  <div class='about-body'>
    <h2>Contribute your skills to She’s Coding</h2>
    <p>
      Interesting in helping out? Join the She's Coding team! We maintain an open-source Ruby on Rails project on Github, and have some simple rules on how to contribute. She’s Coding is built by the community, for the community. The initial site was launched in April 2015 to coincide with the world premiere of the CODE documentary, and will continue to grow and expand in resources and functionality over time. 
    </p>
    <br>
    <p>
      Want to learn more or be a part of the she’s coding team? <%= link_to "Contact us", "/contact" %>, or check out our project management systems: <%= link_to "Github", "https://github.com/shescoding" %>, <%= link_to "Google Group", "https://groups.google.com/forum/#!forum/shescoding" %>, <%= link_to "Trello", "https://trello.com/shescoding" %>, <%= link_to "Slack", "https://shescoding.slack.com/" %>.
    </p>
    <h2>Convert understanding into action - join the She's Coding team!</h2>
  </div>
</div>
