<div class="container">
  <%= form_for(@resource) do |f| %>
    <% if @resource.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

        <ul>
        <% @resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <form>
      <div class="field form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, :class => "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :description %><br>
        <%= f.text_field :description, :class => "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :url %><br>
        <%= f.text_field :url, :class => "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :category_id %><br>
        <%= f.number_field :category_id, :class => "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :source %><br>
        <%= f.text_field :source, :class => "form-control" %>
      </div>
      <div class="field form-group">
        <%= f.label :public %><br>
        <%= f.text_field :public, :class => "form-control" %>
      </div>
      <div class="actions">
        <%= f.button :class => "btn btn-default" %>
      </div>
    </form>
  <% end %>
</div>
