<%= render "layouts/navbar", page: "Resources" %>

<div class="container">

	<h1 class="ui-shescoding-crud">Editing resource</h1>

	<%= render 'form' %>

	<br>

	<%= link_to 'Show', @resource %> |
	<%= link_to 'Back', resources_path %>

</div>

<%= render :partial => "layouts/footer" %>
