<div class="resources-section container">
  <div class="row">
    <div class="resources-sidebar col-md-3">
      <ul>
        <li class="selected" data-category="*"><%= link_to "All Resources", "" %></li>
        <% @categories.each do |category| %>
          <li data-category="<%= create_filter(category.id) %>"><%= link_to category.name, "#" %></li>
        <% end %>
      </ul>
    </div>
    <div class="resources-grid col-md-9">
      <% @resources.each do |resource| %>
        <div class="panel panel-default <%= resource.stringify_categories %>">
          <div class="panel-body">
            <div class="panel-header">
              <h4><%= resource.source %></h4>
              <h3><%= resource.title %></h3>
            </div>
            <div class="panel-preview">
              <div class="text">"<%= resource.description %></div>
              <%= link_to "Read More >>", resource.url, class: "next", target: "_blank" %>
            </div>
            <div class="panel-tags">
              <ul>
                <li><%= link_to "Tag 1", "" %></li>
                <li><%= link_to "Tag 1", "" %></li>
                <li><%= link_to "Tag 1", "" %></li>
              </ul>
            </div>
            <div class="panel-data">
              <div class="date"><%= format_date(resource.date) %></div>
              <div class="likes">
                <%= link_to "&#9825;".html_safe, "", class: "heart" %>
                <%= resource.likes || 0 %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <button class="clear-category btn btn-lg btn-default">Clear Selection</button>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    // Initialize Layout
    var $container = $('.resources-grid').isotope({
      itemSelector: '.panel',
      layoutMode: 'masonry',
      masonry: {
        columnWidth: '.panel'
      }
    });

    // Filter Selected Category
    $('.resources-sidebar li').click(function(e) {
      e.preventDefault();
      $('.selected').toggleClass('selected');
      $(this).toggleClass('selected');
      $container.isotope({filter: this.dataset.category});
    });
  });
</script>
