<div class="ui-woman-wizard ui-wizard">

  <%= render "layouts/navbar", page: "" %>

  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-1">
            <p class="ui-persona-phrase">I am a <p>
        </div>
        <div class="col-sm-5 ui-woman-dropdown-menu">
            <div class="dropdown ui-woman-select">
              <input type="TextBox" ID="datebox" Class="form-control"></input>
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                    <% @woman_questions.each do |key, value| %>
                        <li class="ui-woman-options"><a href='#'><%= key %></a></li>
                    <% end %>
                </ul>
                Bla:<%=@selected_value%>
            </div>
        </div>
    </div>
    <div class="row ui-woman-question2">
        <div class="col-sm-6 col-sm-offset-1">
            <p class="ui-persona-phrase">I want to do this by<p>
        </div>
        <div class="col-sm-5 ui-woman-dropdown-menu">
            <div class="dropdown ui-woman-select">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                    <% @personas.each do |persona| %>
                        <li class="ui-woman-options2"><%= persona.questions %></li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
    <div class="row ui-woman-question3">
      <div class="col-sm-6 col-sm-offset-1">
          <p class="ui-persona-phrase">I am a woman who<p>
      </div>
      <div class="col-sm-5 ui-woman-dropdown-menu">
        <div class="dropdown ui-woman-select">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
              <span class="caret"></span>
          </button>
          <ul class="dropdown-menu ui-dropdown" role="menu" aria-labelledby="dropdownMenu1">
            <% @personas.each do |persona| %>
                <li class="ui-woman-options3"><%= persona.questions %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
