<%= render "layouts/navbar", page: "" %>

<div class="container">

	<h1 class="ui-shescoding-crud">Editing guide</h1>

	<%= render 'form' %>

	<br>

	<%= link_to 'Show', @guide %> |
	<%= link_to 'Back', guides_path %>

</div>

<%= render :partial => "layouts/footer" %>
